#
# Fichier de configuration de mysql pour AlternC
# $Id: my.cnf,v 1.7 2005/02/11 19:17:41 anarcat Exp $
# 
# %%warning_message%%
# 

[client]
port		= 3306
# SARGETAG
socket		= /var/run/mysqld/mysqld.sock

# Here is entries for some specific programs
# The following values assume you have at least 128M ram

[safe_mysqld]
err-log		= /var/log/mysql.err

[mysqld]
user		= mysql
pid-file	= /var/run/mysqld/mysqld.pid
# SARGETAG
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
log		= /var/log/mysql.log
basedir		= /usr
datadir		= /var/alternc/db
tmpdir		= /tmp
language	= /usr/share/mysql/english
skip-locking
safe-show-database
#  skip-networking
skip-innodb
set-variable	= key_buffer=32M
set-variable	= max_allowed_packet=4M
set-variable	= thread_stack=512K

[mysqldump]
quick
set-variable	= max_allowed_packet=4M

[isamchk]
set-variable	= key_buffer=32M
